{% extends 'base.html' %}

{% block title %}북마크 목록{% endblock %}

{% block content %}
<h1 class="title">북마크 목록</h1>
<div class="list_wrap02">
	<ul>
		{% for bookmark in object_list %}
			<li>
				<span class="btitle">{{bookmark.title}}</span>
				<a href="{% url 'bookmark:detail' bookmark.id %}">{{bookmark.url}}</a>
			</li>
		{% endfor %}	
	</ul>
</div>
{% endblock %}

{% block footer %}
<footer class="fixed-bottom bg-info">
	<div style="text-align:center; padding:20px 0 "class="text-white font-italic mr-5">카피라이터 부분</div>
</footer>
{% endblock %}