{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}북마크 수정{% endblock %}
{% block content %}
	<h1 class="title">북마크 수정</h1>
	
	<div class="mgt50">
		<table class="type01">
			<colgroup>
				<col width="20%">
				<col width="*">
				<col width="10%">
				<col width="10%">
				<col width="10%">
			</colgroup>
			<thead>
				<tr class="table-primary">
					<th>제목</th>
					<th>주소</th>
					<th>작성자</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				{% for item in object_list %}
				<tr>
					<td>{{ item.title }}</td>
					<td class="tal">{{ item.url }}</td>
					<td>{{ item.owner }}</td>
					<td><a href="{% url 'bookmark:update' item.id %}">수정</a></td>
					<td><a href="{% url 'bookmark:delete' item.id %}">삭제</a></td>
				</tr>
				{% endfor %}
			</tbody>
		
		</table>
	</div>
{% endblock %}
{% block footer %}
<footer class="fixed-bottom bg-info">
	<div class="text-white font-italic mr-5">카피라이터 부분</div>
</footer>
{% endblock %}