{% extends 'base.html' %}

{% block title %}home.html{% endblock %}
{% block content %}
	<div class="main-bg">
		<h2>타이틀이 나오는 곳입니다</h2>
		<h4><i class="fas fa-arrow-circle-right"></i> 부트스트랩으로 만들었습니다</h4>
	</div>
	
	<div class="row text-conter" style="padding-top:50px;">
		<div class="col-sm-6 main-con">
			<h3>북마크 앱</h3>
			<p>
				 북마크 앱에 대한 간단한 설명북마크 앱에 대한 간단한 설명북마크 앱에 대한 간단한 설명북마크 앱에 대한 간단한 설명북마크 앱에 대한 간단한 설명북마크 앱에 대한 간단한 설명북마크 앱에 대한 간단한 설명북마크 앱에 대한 간단한 설명북마크 앱에 대한 간단한 설명
			</p>
		</div>
		<div class="col-sm-6 main-con">
			<h3>블로그 앱</h3>
			<p>
				블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명블로그 앱에 대한 간단한 설명
			</p>
		</div>
	</div>
{% endblock %}

{% block footer %}
<footer class="fixed-bottom bg-info">
	<div class="text-white font-italic mr-5">카피라이터 부분</div>
</footer>
{% endblock %}